// color
$color-white: #f4f4f4;
$color-gray: #e2e2e2;
$color-dark-gray: #5f5f5f;
$color-black: #000000;
$color-orange: #f8863c;
$color-green: #00c471;

// font-size
$font-large: 24px;
$font-medium: 20px;
$font-small: 14px;
$font-smallest: 8px;

// font-weight
$font-bold: 700;
$font-normal: 500;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

@media only screen and (min-width: 481px) {
  #app {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  #app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-white;
    height: 40rem;
    border-radius: 1.5rem;
    padding: 1.5rem 1rem;
    font-weight: $font-bold;
  }

  .header {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: $font-large;

    &__right > p {
      text-align: right;
    }

    .today-challenge-money {
      color: #00c471;
    }
  }

  .main {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
    padding: 1.5rem 1rem;
    background-color: $color-gray;
    border-radius: 1.5rem;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: $font-medium;
      height: 10%;
      .total-spend-money {
        color: $color-orange;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      color: $color-dark-gray;
      font-size: $font-small;
      font-weight: $font-normal;
      overflow: scroll;
      height: 90%;

      .spend-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid $color-dark-gray;
        width: 100%;
      }
    }
  }

  .footer {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: $color-gray;
    border-radius: 1.5rem;
    font-size: $font-medium;

    .yesterday-challenge-money {
      color: #00c471;
      border-right: 0.2rem solid black;
      padding-right: 1rem;
    }

    .yesterday-total-spend-money {
      color: #f8863c;
    }
  }
}
